.card {
  margin: 0;
  background:gray !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px ;
  /* width: 30rem; */
  margin-top:4rem;
  padding: 1rem !important;
  overflow: hidden;
  /* background: white; */
}
